close_window                        q
screen_down                        <C-j>
screen_up                          <C-k>
previous_page                      <C-b>
next_page                          <C-f>
fit_to_page_height                  =
prev_state                         <A-,>
next_state                         <C-A-,>