should_launch_new_window 1
case_sensitive_search 0
shared_database_path ~/org/bibliography/shared.db

# Python sioyek extensions from https://github.com/ahrm/sioyek-python-extensions
# TODO Find better way to manage Python environment for this
new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}
new_command _embed_annotations  python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _download_paper     python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}" "%{selected_text}"
new_command _import_annotations python -m sioyek.import_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _remove_annotations python -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"
new_command _add_text           python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text       python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0

control_click_command _download_paper

# Catppuccin theme
# use toggle_custom_color to enable
visual_mark_color 0.502 0.529 0.635 1.0
background_color 0.141 0.153 0.227
text_highlight_color 0.933 0.831 0.624
search_highlight_color 0.933 0.831 0.624
link_highlight_color 0.541 0.678 0.957
synctex_highlight_color 0.651 0.855 0.584
highlight_color_a 0.933 0.831 0.624
highlight_color_b 0.651 0.855 0.584
highlight_color_c 0.569 0.843 0.89
highlight_color_d 0.933 0.6 0.627
highlight_color_e 0.776 0.627 0.965
highlight_color_f 0.929 0.529 0.588
highlight_color_g 0.933 0.831 0.624
custom_background_color 0.141 0.153 0.227
custom_text_color 0.792 0.827 0.961
status_bar_color 0.118 0.118 0.180
status_bar_text_color 0.792 0.827 0.961
status_font Iosevka Term
status_bar_font_size 14
ui_font Iosevka Term
font_size 14
ui_text_color 0.792 0.827 0.961
ui_background_color 0.212 0.227 0.31
ui_selected_text_color 0.792 0.827 0.961
ui_selected_background_color 0.357 0.376 0.471
